# file: ~/.gitignore_global
.DS_Store
.idea
**/sent_*.lock
gift-send/lock/*.lock

# Logs
*.log
*.log.*
**/log.txt
**/logs/
logs/
error_log
python/**/post.txt
python/**/get.txt
javascript/**/post.txt
javascript/**/get.txt
.env